<td><img src="{{ anime.coverImage.medium }}" alt="no cover"/></td>
<td id="titles" class="text-left">
  <div>{{ anime.title.romaji }}</div>
  <div *ngIf="anime.title.english && anime.title.romaji.toUpperCase() !== anime.title.english.toUpperCase()">
    <hr class="bg-white"/>
    {{ anime.title.english }}
  </div>
</td>
<td as-anime-detail-date [date]="anime.startDate"></td>
<td as-anime-detail-date [date]="anime.endDate"></td>
<td>
  <span *ngIf="anime.nextAiringEpisode && status === 'RELEASING'">{{ anime.nextAiringEpisode.episode }} / </span>
  <span *ngIf="anime.episodes">{{ anime.episodes }}</span>
  <i *ngIf="!anime.episodes" class="fa fa-question fa-2x text-light" aria-hidden="true"></i>
</td>
<td>
  <div *ngIf="anime.duration">
    <div>
      <div *ngIf="anime.duration/60 >= 1">Ep &cong; {{ anime.duration/60 | number:'1.0-0' }}h</div>
      <div *ngIf="anime.duration/60 < 1">Ep: {{ anime.duration }}min</div>
    </div>
    <div *ngIf="anime.episodes && anime.duration">
      <hr *ngIf="anime.duration && anime.episodes" class="bg-white"/>
      <div *ngIf="(anime.duration*anime.episodes)/60 >= 1">T &cong; {{ (anime.duration*anime.episodes)/60 | number:'1.0-0' }}h</div>
      <div *ngIf="(anime.duration*anime.episodes)/60 < 1">T < 1h</div>
    </div>
  </div>
  <i *ngIf="!anime.duration" class="fa fa-question fa-2x text-light" aria-hidden="true"></i>
</td>
<td>
  <div *ngFor="let genre of anime.genres">{{ genre }}</div>
  <i *ngIf="anime.genres.length == 0" class="fa fa-question fa-2x text-light" aria-hidden="true"></i>
</td>
<td>
  <div *ngIf="anime.trailer != null" class="mb-2"><a href="https://www.youtube.com/watch?v={{ anime.trailer.id }}" target="_blank"><i class="fa fa-play fa-2x text-success"></i></a></div>
  <div><a href="{{ anime.siteUrl }}" target="_blank"><i class="fa fa-external-link fa-2x text-primary"></i></a></div>
</td>