#left-border { background: url("../assets/gears.png") left top fixed; }

#right-border { background: url("../assets/gears2.png") right top fixed; }

a { text-decoration: none; }

main { min-height: 82%; }

header { min-height: 6%; }

footer { min-height: 12%; }

header, footer { background-color: #212121; }