<as-sortbar (currentSortOptions)="updatePage($event)"></as-sortbar>

<table *ngIf="currentPage$ | async as page; else loading;" class="table table-responsive-md table-dark table-striped text-white my-2">
  <thead>
    <tr class="text-uppercase">
      <th scope="col">Cover</th>
      <th scope="col">Title</th>
      <th scope="col">Start</th>
      <th scope="col">End</th>
      <th scope="col">Episodes</th>
      <th scope="col">Duration</th>
      <th scope="col">Genres</th>
      <th scope="col">More details</th>
    </tr>
  </thead>

  <tbody *ngIf="page.media.length > 0; else no_result;" class="text-light">
    <tr *ngFor="let anime of page.media" as-anime-detail [anime]="anime" [currentYear]="this.currentSortOptions.currentYear()" [status]="this.currentSortOptions.status"></tr>
  </tbody>

  <tfoot>
      <tr>
        <th>
          <button *ngIf="page.pageInfo.currentPage > 1" (click)="turnPage(page.pageInfo.currentPage-1)">
            <i class="fa fa-arrow-left fa-2x text-light"></i>
          </button>
        </th>
        <th colspan="6">
          <span *ngIf="page.pageInfo.lastPage > 1">
            <input type="number" step="1" min="1" max="{{ page.pageInfo.lastPage }}" value="{{ page.pageInfo.currentPage }}" (change)="($event.target.value <= page.pageInfo.lastPage) ? turnPage($event.target.value) : turnPage(page.pageInfo.lastPage);" class="text-center"/> / {{ page.pageInfo.lastPage }}
          </span>
        </th>
        <th>
          <button *ngIf="page.pageInfo.currentPage < page.pageInfo.lastPage" (click)="turnPage(page.pageInfo.currentPage+1)">
            <i class="fa fa-arrow-right fa-2x text-light"></i>
          </button>
        </th>
      </tr>
  </tfoot>
</table>

<ng-template #loading>
  <div id="loading" class="row">
    <img class="mx-auto" src="assets/loading.svg" alt="loading..." />
  </div>
</ng-template>

<ng-template #no_result>
  <tbody>
    <tr id="no_result" class="text-center text-uppercase">
      <td colspan="8"><i class="fa fa-times text-danger"></i> No result</td>
    </tr>
  </tbody>
</ng-template>